.DS_Store
!/pages/.Create.html.icloud
!/pages/.f2.html.icloud
!/pages/.f2.html.icloud\
learning/collaborativeDocs/node_modules
learning/chatroom/node_modules/
learning/chats/node_modules/
learning/chats/report.md
learning/chats/report2.md
learning/chats/recommendations.md
pages/node_modules
*.sqlite
pages/reminder-app/wrangler/
shici/node_modules/
localStorage.jsoo
music/Musicplayer.md
todolist/node_modules/
shici/assets/js/shici.code-workspace
shici/assets/js/shici.code-workspace
node_modules/
localStorage.json
shici/assets/js/shici.code-workspace
poe/.wrangler/

shici/assets/js/shici.code-workspace
.vscode/sftp.json
shici/assets/js/shici.code-workspace
shici/assets/js/shici.code-workspace
